@media only screen and (max-device-width: 480px) { 
	article#content {
		background: url('img/sm_racquet.jpg');	
		height: 760px !important;		
		background-size: 100% auto;
	}
	#txt {
		display: none;
	}
}

@media only screen and (min-device-width: 481px) { 
	article#content {
		background: url('img/big_racquet.jpg');	
		background-attachment: fixed;
		background-size: 60% auto;
		
	}
}


h1 {
	width: 8em;
}

#txt {
	position: absolute;
	top: 2em;
	left: 6em;
}



article#content {
	
	background-repeat: no-repeat;
    background-position: right center;
    width:100%;
    height: 1200px;
}